.b-view-mode-switcher
{
    float: left;
    overflow: hidden;
}

.b-view-mode-switcher .b-link
{
    padding: 2px 11px 1px 11px;
    display: block;
    float: left;
    height: 17px;
    text-transform: uppercase;
    font-style: normal;
    color: #000;
    background: #cfcfcf; /* Old browsers */
    background: -moz-linear-gradient(top, #cfcfcf 0%, #d4d4d4 15%, #ececec 60%, #eeeeee 70%, #eeeeee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfcfcf), color-stop(15%,#d4d4d4), color-stop(60%,#ececec), color-stop(70%,#eeeeee), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cfcfcf 0%,#d4d4d4 15%,#ececec 60%,#eeeeee 70%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cfcfcf 0%,#d4d4d4 15%,#ececec 60%,#eeeeee 70%,#eeeeee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cfcfcf 0%,#d4d4d4 15%,#ececec 60%,#eeeeee 70%,#eeeeee 100%); /* IE10+ */
    background: linear-gradient(to bottom, #cfcfcf 0%,#d4d4d4 15%,#ececec 60%,#eeeeee 70%,#eeeeee 100%);
}

.b-view-mode-switcher .b-link .b-link__inner {
    border: none !important;
}

.b-view-mode-switcher .b-link_active_yes
{
    background: #eee !important;
    color: #999 !important;
    cursor: default;
}