.b-view-mode-switcher
{
    float: left;
    overflow: hidden;
    margin-right: 3px;
}

.b-view-mode-switcher .b-link
{
    font-size: 12px;
    padding: 4px 11px 1px 11px;
    display: block;
    float: left;
    height: 17px;
    text-transform: uppercase;
    font-style: normal;
    color: #000;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #eeeeee 30%, #ececec 40%, #d4d4d4 85%, #cfcfcf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(30%,#eeeeee), color-stop(40%,#ececec), color-stop(85%,#d4d4d4), color-stop(100%,#cfcfcf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#eeeeee 30%,#ececec 40%,#d4d4d4 85%,#cfcfcf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#eeeeee 30%,#ececec 40%,#d4d4d4 85%,#cfcfcf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#eeeeee 30%,#ececec 40%,#d4d4d4 85%,#cfcfcf 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#eeeeee 30%,#ececec 40%,#d4d4d4 85%,#cfcfcf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cfcfcf',GradientType=0 ); /* IE6-9 */
}

.b-view-mode-switcher .b-link .b-link__inner {
    border: none !important;
}

.b-view-mode-switcher .b-link_active_yes
{
    background: #eee !important;
    color: #999 !important;
    cursor: default;
}