/* ../../blocks/b-link/b-link.css begin */
.b-link
{

}

/* ../../blocks/b-link/b-link.css end */

/* ../../bem-bl/blocks-desktop/b-link/_pseudo/b-link_pseudo_yes.css begin */
.b-link_pseudo_yes
{
    color: #1a3dc1;
}

.i-ua_js_yes .b-link_pseudo_yes
{
    text-decoration: none;

    cursor: pointer;
}

.i-ua_js_yes .b-link_pseudo_yes .b-link__inner
{
    text-decoration: none;

    color: inherit;
    border-bottom: 1px dotted;
}

/* ../../bem-bl/blocks-desktop/b-link/_pseudo/b-link_pseudo_yes.css end */

/* ../../blocks/b-dialog-content/_type/b-dialog-content_type_add-edit-lecture.css begin */
.b-dialog-content_type_add-lecture
{
}

/* ../../blocks/b-dialog-content/_type/b-dialog-content_type_add-edit-lecture.css end */

/* ../../blocks/b-calendar-view/b-calendar-view.css begin */
.b-month-calendar
{
}

/* ../../blocks/b-calendar-view/b-calendar-view.css end */

/* ../../blocks/b-day/_view/b-day_view_calendar.css begin */
.b-day_view_calendar.b-day_active_yes
{
    background-color: red;
}

/* ../../blocks/b-day/_view/b-day_view_calendar.css end */

/* ../../blocks/b-list-view/b-list-view.css begin */
.b-list-view
{
}

/* ../../blocks/b-list-view/b-list-view.css end */

/* ../../blocks/b-day/_view/b-day_view_list.css begin */
.b-day_view_list
{
}

/* ../../blocks/b-day/_view/b-day_view_list.css end */

/* ../../blocks/b-day-sheduler/b-day-sheduler.css begin */
.b-day-sheduler {
    color: red;
    width: 100%;
}

/* ../../blocks/b-day-sheduler/b-day-sheduler.css end */

/* ../../blocks/b-lecture/b-lecture.css begin */
.b-lecture
{
}

/* ../../blocks/b-lecture/b-lecture.css end */

/* ../../blocks/b-view-mode-switcher/b-view-mode-switcher.css begin */
.b-mode-switcher
{
}

/* ../../blocks/b-view-mode-switcher/b-view-mode-switcher.css end */

/* ../../blocks/b-month-switcher/b-month-switcher.css begin */
.b-month-switcher
{
}

/* ../../blocks/b-month-switcher/b-month-switcher.css end */

/* ../../blocks/b-dialog/b-dialog.css begin */
.b-dialog {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
    display: none;
}

.b-dialog__dialog-box
{
    position: relative;
    width: 250px;
    height: 400px;
    background-color: #ffffff;
    margin: 0 auto;
    top: 200px;
}

/* ../../blocks/b-dialog/b-dialog.css end */

