.b-lecture {
    overflow: hidden;
    padding: 10px;
    height: 60px;
    position: relative;
    line-height: 19px;
    background-color: #ff670f !important;
    color: white;
    margin-bottom: 20px;
}

.b-lecture__time {
    float: left;
    width: 80px;
}

.b-lecture__caption {
    margin-left: 90px;
}

.b-lecture__lector{
    margin-left: 90px;
}

.b-lecture__presentation{
    display: none;
}

.b-lecture:hover .b-lecture__toolbox {
    display: block !important;
}

.b-lecture__toolbox {
    position: absolute;
    bottom: 5px;
    right: 10px;
    display: none;
}

.b-lecture .b-link {
    margin-left: 7px;
    font-size: 12px;
}
