.b-month-switcher
{
    float: left;
    text-transform: lowercase;
    height: 22px;
    overflow: hidden;
    line-height: 21px; 
}

.b-month-switcher__current-month
{
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0px;
}

.b-month-switcher .b-link
{
    font-size: 35px !important;
    color: black !important;
    display: block;
    float: left;
}

.b-month-switcher .b-link_action_next-month
{
    float: right !important;
}

.b-month-switcher .b-link__inner
{
    border: none !important;
}
