.b-header 
{
    overflow: hidden;
    margin-top: 20px;
    margin-left: 288px;
    height: 22px;
}

.b-header__head
{
    font-weight: normal;
    font-size: 24px;
    line-height: 20px !important;
    float: left;
    margin-right: 3px;
}
