.b-page-layout {
    font-family: 'Times New Roman',serif;
    font-size: 14px;
    width: 1040px;
    margin: 0 auto 0 auto;
    position: relative;	
    padding-top: 20px;
}

.b-lectures-content-wrapper {
    overflow: hidden;
}
